body {
    background-color: rgb(24, 72, 126);
}

.title{
    font-family: "Times New Roman", sans-serif;
    color: ivory;
    font-size: 72px;
    text-align: center;
}

.box {
    background-color: ivory;
    width: 600px;
    margin: 16px auto;
    border: solid grey;
    border-width: 4px;
    padding: 16px 32px;
}

.titlelink {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    text-decoration: none;
    display: block;
}

.titlelink:hover {
    background-color: grey;
    color: ivory;
}